<!DOCTYPE html>
<html>
<head>
  <title>Task Tracker</title>
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
</head>
<body ng-app="TimeTrackerApp">
  <div layout="column" layout-fill>
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content class="md-padding" ng-controller="SideNavController">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>
          <p hide-md show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
          </p>
        </md-content>
      </md-sidenav>
      <md-content flex>
        <div layout="column" layout-fill>
          <md-toolbar>
            <h2 class="md-toolbar-tools">
              <span>Time Tracker</span>
            </h2>
          </md-toolbar>
          <md-content class="md-padding">
            <div ng-controller="AppController">
              <div ng-controller="NewTasksController">
                <form button-form ng-model="task" ng-submit="submit(task)" ng-init="{}">
                <md-content class="md-padding" layout="row" layout-sm="column" layout-fill layout-align="start center" >
                
                  <md-input-container>
                    <label>Description</label>
                    <input type="text" ng-model="task.description" required md-minlength="1">
                  </md-input-container>

                  <md-input-container>
                    <label>Remind me in</label>
                    <input type="number" ng-model="task.remindEvery" required md-minlength="1">
                  </md-input-container>
                  <md-content>
                    <md-button value="submit" class="md-primary" >
                      Add Task
                    </md-button>
                  </md-content>
               
                </md-content>
                 </form>
                <md-content class="md-padding" layout="column">
                  <md-list>
                    <md-item ng-repeat="item in tasks">
                      <md-item-content>
                        <div class="md-tile-left">
                          <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <div class="md-tile-content">
                          <h3>{{item.description}}</h3>
                          <h4>{{item.remindEvery}}</h4>
                          <p>
                            {{item.notes}}
                          </p>
                        </div>
                      </md-item-content>
                    </md-item>
                  </md-list>
                </md-content>
              </div>
                

              <div>
                <md-button ng-click="toggleLeft()"
                  class="md-primary" hide-gt-md>
                  Toggle left
                </md-button>
              </div>
            </div>
          </md-content>
          
        </div>
      </md-content>
    </section>
    
  </div>
  
  
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/services.js"></script>

  <script type="text/javascript" src="js/shared/app/app.controller.js"></script>
  <script type="text/javascript" src="js/shared/sidenav/sidenav.controller.js"></script>

  <script type="text/javascript" src="js/components/new-tasks/new-tasks.controller.js"></script>
</body>
</html>